@import './utils/variables';

@import './blocks/card';
@import './blocks/stars';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: $font-family;
  background-color: #f7f7f7;
  color: $color-secondary;
  align-items: center;
  justify-content: center;
}
